
div.move {
  left: -100px;
  position: absolute;
  top: 0px;
  width: 100px;

  background-color: #333;
  border-bottom-left-radius: 10px 10px;
  border-top-left-radius: 10px 10px;
}

div.page {
  width: 850px;
  height: 1100px;
}

