body {
  background-color: #eee;
  font-family: "Baskerville";
  font-size: 62.5%;
  font-size: 1em;
}

h1,h2,h3 {
  font-family: "Futura";
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 0;
  line-height: 1em;
}
header p, footer p, .location {
  font-family: "Futura";
  font-size: 0.8em;
}

header, footer {
  text-align: center;
}
header h1 {
  margin-bottom: 0;
  font-size: 2.2em;
}
header p, footer p {
  margin-top: 0.25em;
  font-size: 0.7em;
}

#content {
  background-color: #fff;
  margin: 1em auto;
  padding: 0 1.5em;
  border: 1px solid #bbb;

  width: 850px;
}

p, ul {
  font-size: 0.8em;
}

#education p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#education ul {
  margin-top: 0em;
}
 
section {
  line-height: 1.25em;
}

#interests ul {
  padding: 0;
  margin: 0;
  text-align: center;
}
#interests li:before {
}
#interests li {
  width: 25%;
  float: left;
}

br {
  clear: both;
}

h2 {
  display: inline;
  font-size: 1.3em;
}
h3 {
  font-weight: normal;
  font-size: 0.9em;
  color: #444;
  background-color: #eee;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  position:relative;
}
h3 img {
  bottom: 0px;
  height: 100%;
  left: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100%;
}
h3 span {
  left: 0px;
  margin: auto 1em;
  position: absolute;
}

.time, h4 {
  font-size: 0.8em;
  letter-spacing: 0.1em;
  line-height: 1em;
  font-weight: normal;
  margin-top: 0.75em;
  margin-bottom: 0;
}
.time span, h4 {
  text-transform: uppercase;
}

section#experience p {
  font-size: 0.75em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;

  color: #666;
}
section#experience ul {
  margin-top: 0;
  margin-bottom: 2em;
}

.location:before { content: "in "; }
.location:after  { content: ""; }
.location {
  color: #444;
  padding-left: 0.25em;
}

.time {
  float: right;
}

